<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <style>
    .label {
        margin-bottom: 20px;
        display: inline-block;
        width: 150px;
        text-align: right;
    }
    .input {
        margin-left: 155px;
    }
</style>
</head>
<body style="padding: 50px;">
<h1>CALCULATE</h1>
<form action="calculate/" method="get">
  <label class="label" for="num1">Enter First Number : </label>
  <input type="text" name="num1" placeholder="First Number"><br>
  <label class="label" for="num2">Enter second Number : </label>
  <input type="text" name="num2" placeholder="Second Number"><br>
  <input class="input" type="submit" value="Calculate">

</form>
</body>
</html>