<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .label {
            margin-bottom: 20px;
            display: inline-block;
            width: 150px;
            text-align: right;
        }
        .input {
            text-align: center; 
        }
        body{
            margin-top: 50px;
            text-align: center;
        }
        
    </style>
</head>
<body><h1>Login</h1>
    <form method="post" action="login" style="background-color: rgb(237, 247, 225); display: inline-block; padding: 30px; border: 2px solid black;">
        {% csrf_token %}
        <label class="label" for="username">Username : </label>
        <input type="text" name="username" placeholder="Enter Username"><br>
        <label class="label">Password : </label>
        <input type="password" name='password'><br>
        <input class="input" type="submit" value="Login" >
    </form><br>
    {% for msg in messages %}
    {{msg}}
    {% endfor %}
</body>
</html>